body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #7e7e7e;
}

#map {
  width: 100vw;
  height: 100vh;
}

.mapPreview {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
  padding: 1px;
  height: 250px; 
  /*width: 396px;
  
  position: absolute;*/
  pointer-events:stroke;
  border: solid 1px  grey;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%;
}
.imgPreview {
	padding: 1px;
	margin:3px;
	width: 110px;
	border: solid 1px  grey;
	border-radius: 3%;
	cursor: pointer;
  }
.table{
	border: solid 0px none;
	margin:0px;
	padding: 0px;
}
.primary-icons{
	color:white;
	width:30px;
	text-decoration-color: white;
	z-index: 5001;
	
}


/* Overrided */
.ol-zoom{
background-color: rgba(0,60,136,0.7);
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#menu-button-div {
  position: fixed;
  top:  0px;
  right:  0px;
  z-index: 3000;


    border: none;
   	padding: 0em;
    display: inline;
    cursor: pointer;
	margin: 0;
	background-color:white;
	border-radius: 3%;
  }
  #menu-result-button-div {
	  width: 25px;
	position: fixed;
	top:  0px;
	right:  340px;
	z-index: 3000;
  
  
	  border: none;
		 margin: 1px;
		 padding-right: 1px;
	  display: inline;
	  cursor: pointer;
	  margin: 0;
	  background-color:white;
	  border-radius: 3%;
	}
  .menu-open-close{
	top:  0px;
	right: 0px;
	position: absolute;
	width: 30px;
	height: 30px;
	padding: auto;
	margin: auto;
	border-radius: 5%;
	border: none;
	background-color: #cecfcf;
	z-index: 5000;
  }
  .menu-result-open-close{
	width: 25px;
	height: 35px;
	padding: 1px;
	border-radius: 9%;
	border: 1px solid  #bee5fd;
	background-color: white;
  }
  .menu-nav{
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 3%;
	border: none;
	background-color:white;
  }
  .menu-list-sub{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.99);
	margin-left:5px;
	margin-right: 0px;
	
	padding-left:1px;
	padding-right:1px;
	border-bottom-left-radius: 3%;
	display: block;
	/*z-index: 4000;*/
	

	border:none; 
  }
 .toolbar-div{
	 align-items: flex-start;
	 margin-left:10px;
	 padding-left:10px;
	 padding-top: 10px;
}
.toolbar-table{
	
	text-align: center;
	width: auto;
}
  .menu-p{
	color: #fff;
	font-weight: bolder;
	font-size:x-large;
	text-align: center;
  }

 /* General styles for all menus */

.cbp-spmenu {
	background: rgba(0,0,0,0.6); /*rgba(0,60,136,0.6); /*#47a3da;*/
	position: fixed;
}

.cbp-spmenu h3 {
	color: #0291e4;
	font-size: 1.7em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #00588b;
}

.cbp-spmenu a {
	display: block;
	color: rgb(255, 255, 255);
	font-size: 1.0em;
	font-weight: bolder;
}
a.simplehref{
	color: black;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
	display: inline;
	border:none;
	border-top: 1px solid red;
}
a.result{
	color: navy;
	font-size: medium;
	text-decoration: none;
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 8pt;
}
a.result:hover{
	color:white;
}
.cbp-spmenu a:hover {
	background: #7e7e7e;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 400px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-top: 1px solid #7e7e7e; /* #004875;*/
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: scroll;
}

div.imgList{
	position:absolute;
	top:333px;
	bottom:10px;
	overflow-x: hidden;
	overflow-y:scroll ;
	scrollbar-base-color: gainsboro;
	
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}
.cbp-spmenu-right-resultview {
	right: -350px;
}
.cbp-spmenu-right-resultview.cbp-spmenu-open {
	right: 350px;
	background-color:   #c5c5c571;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

.date-picker{

	
	width: 350px;
	border-radius: 1%;
	border: solid 2px  #004875;
	margin: 2px;
	padding: 0.1em;
	
}
.raster-info-feature-results{
	height: 700px;
	
	
	width: 350px;
	overflow-x: scroll; 
	overflow: scroll; 
	margin: 2px;
	scrollbar-base-color: blue;
	scrollbar-track-color: green;
	scrollbar-face-color: orange;
	scrollbar-arrow-color: red;
	border: solid 2px  #004875;
	padding: 0.1em;
}
.raster-info-query-button{
	margin: 5px; background-color: #004875;
	color: white;
	font-weight: bold;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: scroll;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

/* @media screen and (max-height: 26.375em){

	

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
} */

.searchInput{
	border: 1px solid white;
	width: 100%;
	border-radius: 4px;
	/*background: url('./assets/images/search.svg') no-repeat scroll 7px 7px white;
	padding-left:30px;*/

  }
  .search-button{
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 15%;
	border: none;
	background-color:white;
  }
  .toolbox-left{
	position: absolute;
	z-index: 2000;
	pointer-events: none;
	margin-left: 10px;
	top: 400px;
	background-color:rgba(142, 191, 255, 0.7);
	border:  1px solid gray;
	border-radius: 3px;
}
.info-top{
	position: absolute;
	width: 69.69%;
	z-index: 3000;
	pointer-events: none;
	margin-left: 60px;
	top: 0;
	background-color:lawngreen;
	border:  1px solid black;
	border-radius: 3px;
	font-size: medium;
	color: black;
	
}

.form-check{
	margin-left: 10px;
	font-weight: bold;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 5px;  
	background: #ffffff;
	outline: none;
	opacity: 1;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 25%; 
	background: rgba(0,60,136,1);
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 25%;
	background: rgba(0,60,136,0.7);
	cursor: pointer;
  }
  
  ::-webkit-scrollbar {
	-webkit-appearance: initial;
	width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .5);
	box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }